body {
    text-align: center;
    font-family: Arial, sans-serif;
}
canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}
#controls {
    margin: 20px;
}
#controls select, #controls button, #controls input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
#generateMaze{
    background-color: #4CAF50;
    color: white;
    border: none;
}
#solveMaze{
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;
}
#showRoute{
    background-color:purple;
    color: white;
    border: none;
}